[Unit]
Description=Periodic Rsync VPS Backup Timer
RefuseManualStart=no
RefuseManualStop=no
 
[Timer]
OnBootSec=40min
OnUnitActiveSec=1d 

[Install]
WantedBy=default.target
