! My Urxvt config

! Xft settings
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! True transparency
!URxvt.depth: 32
URxvt.background: #23292B

! Disable scrollbar
URxvt.scrollBar: false
URxvt.internalBorder: 0
URxvt.externalBorder: 0

! Font declaration
URxvt.font: xft:Roboto Mono for Powerline:pixelsize=10:minspace=False
!URxvt.boldFont: xft: Roboto Mono for Powerline:pixelsize=12:bold
!URxvt.italicFont: xft:Roboto Mono for Powerline:pixelsize=12:italic
!URxvt.bolditalicFont: xft:Roboto Mono for Powerline:pixelsize=12:bold:italic
!URxvt*letterSpace: 0

! Clickable URLs + Tab support (disabled for now)
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: google-chrome-stable    
URxvt.matcher.button: 1

! Icon file
! URxvt.iconFile: /usr/share/icons/Faenza/apps/32/xterm.png

! Blinking cursor
URxvt.cursorBlink: 1

! Scroll settings
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

! Terminal colors 

! Tango palette

URxvt*foreground: #F2F3F4
*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

